:root {
  --primary-bg-color:rgb(231,108,30); /*bg footer,header, "burger" of h1, section bg, buy now @ basket, "added")*/
  --secondary-bg-color: rgb(253,234,220); /*(dishes bg + basket dishes bg, "your basket", X bei basket)*/
  --third-bg-color: rgb(54,53,52); /* (color basket,order confirmed bg, "house" of h1, )*/
    /*lighter grey (Anzahl der bewertungen) #726D6D; */
}   


*, *::before, *::after {
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
    height: 100%;
}

body {
    min-height: 100dvh;
    min-width: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
    font-family: 'Palanquin', sans-serif;
    color: var(--third-bg-color);
}

body.no-scroll {
    overflow:hidden;
}

h3 {
    font-family: 'Palanquin', sans-serif;
    font-size: 24px;
    font-weight: 600;
    margin: 0;
}

p{
    margin: 0;
}

/* ------->HEADER-----------------------------*/

header {
    display: flex;
    justify-content: center;
    position: relative;
    top:0;
    right: 0;
    height: 64px;
    width: 100%;
    padding: 24px 0 24px 0;
    margin: 0 auto;
    background-color: var(--primary-bg-color);
}

.header_elements {
    display:flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    max-width: 1920px;
    box-sizing: border-box;
    margin: 0 auto;
}

.header_images {
    height: 35px;
    width: auto;
    object-fit: contain;
}

.favicon_img {
    fill:var(--primary-bg-color);
}

/* ------->MAIN CONTENT-----------------------------*/

main {
    display: flex;
    flex-direction: column;
    flex:1;
    width: 100%;
    margin: 0 auto;
    box-sizing: border-box;
}

.hero_section {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    max-width: 1920px;
    width: 100%;
    margin: 0 auto;
}

.hero_img_container {
    width: 100%;
    height: 460px;
    overflow: hidden;
}

.hero_img {
    height: 100%;
    width: 100%;
    object-fit: cover;
    display:block;
}

.burger_logo {
    display: flex;
    justify-content: center;
    position: relative;
    transform: translateY(-120px);
    padding: 0;
    margin: 0;
}

.lower_hero_part {
    display: flex;
    flex-direction:column;
    position: relative;
    transform: translateY(-120px);
    padding: 0;
    line-height: 80%;
}

.headline_and_rating_container {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
}

.headline {
    display:flex;
    font-family: 'Palanquin Dark', sans-serif;
    font-size: 42px;
    font-weight: 700;
    margin: 0;
}

.orange_fill {
    color: var(--primary-bg-color);
}

.slogan {
    text-align: center;
    font-size: 24px;
    font-weight: 700;
    line-height: 0%;
}

.dishes_navigation_container {
    display: flex;
    background-color: var(--secondary-bg-color);
    width: 100%;
    margin-bottom: 48px;
}

.dishes_navigation {
    display: flex;
    align-items: center;
    justify-content: start;
    gap: 40px;
    padding-left: 100px;
    max-width: 1920px;
    width: 100%;
    margin: 0 auto;
}

a {
    text-decoration: none;
    color: var(--third-bg-color);
    cursor: pointer;
}

a:hover {
    transform: scale(1.2);
}

.main_dishes {
    display: flex;
    flex-direction: column;
    padding-left: min(56px, 8%);
    margin-top: 120px;
    
}

.category_orange_bg {
    display: flex;
    position: absolute;
    left: 0;
    width: 100%;
    margin-bottom: 36px;
    margin-top: 36px;
    background-color: var(--primary-bg-color);
}

#category_container {
    flex: none;
    width: calc(100% - 464px);
}

.main_dishes_category_container {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    max-width: 1920px;
    width: 100%;
    height: auto;
    gap: 36px;
    padding-left: 48px;
    margin: 0 auto;
}

#main_dishes_category {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    width: 100%;
    margin: 0 auto;
    gap: 32px;
    color:white;
    
}

.category_img_container {
    display: flex;
    position: relative;
    top: 20px;
    height: auto;
    width: 120px;
    margin-top: -60px;
}

#category_img {
    object-fit: cover;
    width: 100%;
    height: 100%;
}

.meals_and_basket_wrapper {
    display: flex;
    justify-content: space-between;
    max-width: 1920px;
    width: 100%;
    margin: 0 auto;
    gap: 32px;
}

.menu_card {
    display: flex;
    flex-direction: column;
    margin: 8px 0 8px 0;
    background-color:var(--secondary-bg-color);
    width: 100%;
    height: auto;
    border-radius: 20px; 
    padding: 12px;
}

.menu_width_dish{
    max-width: 800px;
}

.meal_component {
    display: flex;
    justify-content: flex-start;
       
}

.meal_img_container {
    width: 100%;
    max-width: 224px;
    height: 120px;
    flex-shrink: 0;
    overflow: hidden;
    border-radius: 20px;
    padding: 12px 12px 12px 12px;
}

.meal_img_container img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;
}

.meal_details {
    display: flex;
    justify-content: space-between;
    align-items: start;
    width: 100%;
    padding-right: 12px;
}

.meal_description {
    font-weight: 500;
    font-size: 16px;
    margin-top: 0;
    margin-right: 24px;
}

.meal_details_ordered {
    justify-content: flex-end;
}

.price_and_order_btn {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: flex-end;
    gap: 32px;
}

#meal_price {
    text-align: end;
}

.order_btn {
    width: 120px;
    height: 32px;
    padding: 8px;
    background-color: white;
    border-width: 0;
    border-radius: 8px;
}

.order_btn:hover {
    cursor: pointer;
    color: var(--primary-bg-color);
}

.order_btn_clicked {
    color:var(--primary-bg-color);
}

/* ------->DIALOG------------------------------*/

.order_confirmed_dialog {
    flex-direction: column;
    justify-content: space-between;
    min-height: 240px;
    min-width: 400px;
    box-sizing: border-box;
    background-color: var(--third-bg-color);
    border-width: 0;
    border-radius: 8px;
    transition: all 125ms ease-in-out;
    transform:translateX(50px);
}
.order_confirmed_dialog[open]{
    display:flex;
}

.order_confirmed_dialog.opened {
    transform: translateX(0px);
    transition: all 125ms ease-in-out;
}

dialog::backdrop {
    opacity: 1;
    transition: 125ms all ease-in-out;
}

dialog.opened::backdrop {
    opacity: 0.5;
    filter: blur(8px);
    transition: 125ms all ease-in-out;
    background-color: black;
}

dialog.closed {
    display: none;
}

.close_dialog_btn {
    display:flex;
    justify-content: flex-end;
    border-width: 0;
    border-radius: 8px;
    font-size: 24px;
    color:white;
    background-color: transparent;
}
.order_confirmed_img_and_text_container{
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 48px;
}

.order_confirmed_img_container {
    height: 100px;
    width: 160px;
}

.order_confirmed_img {
    object-fit: cover;
    width: 100%;
    height: 100%;
}

.order_confirmed_text {
    margin: 0;
    line-height: 0.5;
    text-align: center;
    color: white;
}

/* ------->FOOTER------------------------------*/

footer {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    position: relative;
    bottom:0;
    right: 0;
    height: 64px;
    width: 100%;
    padding: 24px 0 24px 0;
    background-color: var(--primary-bg-color);
    gap: 32px;  
    margin-top: 40px;
}

.footer_elements {
    display: flex;
    gap: 48px;
    justify-content: center;
    max-width: 1920px;
    width: 100%;
    margin: 0 auto;
}

.footer_link {
    color: white;
    font-weight: 400;
    font-size: 18px;
    font-style: normal;
    display:flex;
}

.copyright_elements {
    height: auto;
}

.copyright_img {
    object-fit: contain;
}

/* ------->MOBILE SCREEN------------------------------*/

.nav_bar_mobile_btn {
    background-color: transparent;
    border:none;}

.nav_bar_mobile {
    display: none;
}

.mobile_basket {
    display:none;
}

.headline_basket_mobile {
    text-align: center;
}

.costs_and_meals_mobile_container {
    display: flex;
    flex-direction: column;
    width: 100%;
}

/* ------->MEDIA QUERIES------------------------------*/

@media (max-width:1920px){
    .header_elements {
        padding: 0 48px 0 48px;
    }      
}

@media (max-width:1200px){
    .category_img_container {
        padding-left: 20px;
    }

    .main_dishes_category_container {
        padding-left: min(24px, 8%);   
    }

    .meal_component {
        flex-direction: column;
    }

    .meal_details {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        width: 100%;
    }

    .price_and_order_btn {
        display: flex;
        flex-direction: row;   
        align-items: center;
        justify-content: space-between;
        width: 100%;
        gap: 12px;
    }

    .meal_img_container {
        max-width: 100%;
        max-width: 100%;
        height: 200px;
        padding: 0;
    }
}

@media (max-width:1000px){
    .basket_wrapper {
        flex: 0 0 300px !important;
        max-width: 300px;
        min-width: 300px;
        padding: 48px 16px 48px 16px;
    }

     .main_dishes_category_container {
        padding-left: min(8px, 5%); 
    }

    #category_container {
        width: calc(100% - 364px);
    }

}

@media (max-width:768px){
    .nav_bar_mobile {
        display: flex;
        justify-content: space-evenly;
        align-items: center;
        position: fixed;
        bottom: 0;
        left: 0;
        width: 100%;
        height: 60px;
        padding: 12px;
        background-color: var(--third-bg-color);
    }

    .main_dishes_category_container {
        margin-left: 0;  
    }
    .meals_and_basket_wrapper {
        flex-direction: column;
        gap: 0;
    }

    #category_container{
    width: 100%;
    }

    .main_dishes {
        padding: 0 0 0 24px;
    }
   
    .dishes_navigation, .category_img_container {
        padding-left: 16px;
    }

    .mobile_basket_container[open]{
        display: flex;
    }

    .desktop_basket {
        display: none !important;
        width: 0;
        flex: 0;
    }

    .basket_wrapper {
        flex: 1 !important;
        width: 100% !important;
    }
    
    .mobile_fullscreen {
        display: flex;
        flex-direction: column;
        width: 100%;
        height: 100%;
        max-width: none;
        border-radius: 0;
        position: relative;
        top: 0;
        background-color: var(--third-bg-color); 
        color: var(--third-bg-color);
    }

    .mobile_basket_container {
        margin: 0;
        padding: 0;
        border: none;
        width: 100vw;
        height: 100dvh;
        max-width: none;
        max-height: none;
        position: fixed;
        top: 0;
        left: 0;
        background: var(--third-bg-color);
    }

    .full_basket_dish_name {
    color: var(--third-bg-color);
    }

    .mobile_fullscreen .headline_basket {
    display: flex;
    justify-content: center;
    align-items: center;
    }
    
    .close_mobile_basket_btn {
    display: flex;
    justify-content: flex-end;
    border-width: 0;
    border-radius: 8px;
    font-size: 24px;
    color: var(--secondary-bg-color);
    background-color: transparent;
    }
    
    .mobile_basket_content {
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 680px;
    }  

    .basket_content, .full_basket_dish_name, .delete_btn_basket, .increase_btn {
    font-size: 32px;
    }

    .basket_content {
    padding: 0;
    }

    #mobile_basket_costs {
    width: 100%; 
    }

    .calculate_costs {
    font-size: 32px;
    }

    body {
    padding-bottom: 60px;
    }
}

@media (max-width:380px){
    .basket_content, .full_basket_dish_name, .delete_btn_basket, .increase_btn {
    font-size: 24px;
    }

    .font_basket {
    width: 100%;
    font-size: 24px;
    }
    
    .calculate_costs {
    font-size: 24px;
    }
}
    


