:root {
  --primary-bg-color:rgb(231,108,30); /*bg footer,header, "burger" of h1, section bg, buy now @ basket, "added")*/
  --secondary-bg-color: rgb(253,234,220); /*(dishes bg + basket dishes bg, "your basket", X bei basket)*/
  --third-bg-color: rgb(54,53,52); /* (color basket,order confirmed bg, "house" of h1, )*/
    /*lighter grey (Anzahl der bewertungen) #726D6D; */
}   

@font-face {
font-family: 'Palanquin';
font-style: normal;
font-weight: 700;
font-display: swap;
src: url(https://fonts.gstatic.com/s/palanquin/v17/9XUilJ90n1fBFg7ceXwUyn5Yw5GrTC7Ozw.woff2) format('woff2');
}

@font-face {
font-family: 'Palanquin';
font-style: normal;
font-weight: 400;
font-display: swap;
src: url(https://fonts.gstatic.com/s/palanquin/v17/9XUnlJ90n1fBFg7ceXwccVtN7rOmZg.woff2) format('woff2');
}

@font-face {
font-family: 'Palanquin Dark';
font-style: normal;
font-weight: 700;
font-display: swap;
src: url(https://fonts.gstatic.com/s/palanquindark/v17/xn76YHgl1nqmANMB-26xC7yuF8YyY14yd8rv27T5.woff2) format('woff2');
}

html {
    scroll-behavior: smooth;
    height: 100%;
}

body {
    min-height: 100dvh;
    width: 100%;
    margin: 0;
    padding: 0;
    font-family: 'Palanquin', sans-serif;
    color: var(--third-bg-color);
}

body.no-scroll {
    overflow:hidden;
}

h3 {
    font-family: 'Palanquin', sans-serif;
    font-size: 24px;
    font-weight: 600;
    margin: 0;
}

p{
    margin: 0;
}

/* ------->HEADER-----------------------------*/

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
    top:0;
    right: 0;
    height: 64px;
    padding: 24px 42px 24px 80px;
    background-color: var(--primary-bg-color);
}

.header_elements {
    height: 35px;
    width: auto;
}

.header_images {
    width: 100%;
    object-fit: contain;
}

.favicon_img {
    fill:var(--primary-bg-color);
}

/* ------->MAIN CONTENT-----------------------------*/

main {
    display: flex;
    flex-direction: column;
    flex:1;
    width: 100%;
    margin: 0 auto;
    box-sizing: border-box;
}

.full_width_content {
   
    margin: 0 auto;
    width: 100%;
}

.hero_section {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    max-width: 1920px;
    width: 100%;
    margin: 0 auto;
}

.hero_img_container {
    width: 100%;
    height: 460px;
    overflow: hidden;
}

.hero_img {
    height: 100%;
    width: 100%;
    object-fit: cover;
    display:block;
}

.burger_logo {
    display: flex;
    justify-content: center;
    position: relative;
    top: -120px;
    padding: 0;
    margin: 0;
}

.lower_hero_part {
    display: flex;
    flex-direction:column;
    position: relative;
    top: -120px;
    padding: 0;
    line-height: 80%;
}

.headline_and_rating_container {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
}

.headline {
    display:flex;
    font-family: 'Palanquin Dark', sans-serif;
    font-size: 42px;
    font-weight: 700;
    margin: 0;
}

.orange_fill {
    color: var(--primary-bg-color);
}

.slogan {
    text-align: center;
    font-size: 24px;
    font-weight: 700;
    line-height: 0%;
}

.dishes_navigation_container {
    display: flex;
    background-color: var(--secondary-bg-color);
    width: 100%;
}

.dishes_navigation {
    display: flex;
    gap: 40px;
    padding-left: 100px;
    max-width: 1920px;
    width: 100%;
    margin: 0 auto;
}

a {
    text-decoration: none;
    color: var(--third-bg-color);
    cursor: pointer;
}

a:hover {
    transform: scale(1.2);
}

.main_dishes {
    display: flex;
    flex-direction: column;
    padding-left: 100px;
}

.category_orange_bg {
    display: flex;
    width: 110vw;
    margin-left: calc(50% - 50vw);
    margin-bottom: 12px;
    background-color: var(--primary-bg-color);
}

#category_container {
    flex: none;
    width: calc(100% - 464px);
}

.main_dishes_category_container {
    max-width: 1920px;
    width: 100%;
    margin: 0 auto;
    height: auto;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    

}

#main_dishes_category {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    max-width: 1920px;
    width: 100%;
    margin: 0 auto;
    gap: 32px;
    padding-left: 480px;
    color:white;
    
}

.category_img_container {
    display: flex;
    position: relative;
    top: 100px;
    height: auto;
    width: 120px;
    padding-left: 100px;
    margin-top: -60px;
}

#category_img {
    object-fit: cover;
    width: 100%;
    height: 100%;
}

.meals_and_basket_wrapper {
    display: flex;
    max-width: 1920px;
    width: 100%;
    margin: 0 auto;
    gap: 32px;
}

.menu_card {
    display: flex;
    flex-direction: column;
    margin: 8px 0 8px 0;
    background-color:var(--secondary-bg-color);
    width: 100%;
    height: auto;
    border-radius: 20px; 
    padding: 12px;
}

.menu_width_dish{
    max-width: 800px;
}

.meal_component {
    display: flex;
    justify-content: flex-start;
       
}

.meal_img_container {
    max-width: 224px;
    max-height: 156px;
    padding: 12px 12px 12px 12px;
    
}

#meal_img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 20px;
}

.meal_details {
    display: flex;
    justify-content: space-between;
    align-items: start;
    width: 100%;
    padding-right: 12px;

}

.meal_description {
    font-weight: 500;
    font-size: 16px;
    margin-top: 0;
    margin-right: 24px;
}

.meal_details_ordered {
    justify-content: flex-end;
}

.price_and_order_btn {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    gap: 32px;
}

#meal_price {
    text-align: end;
}

.order_btn {
    width: 120px;
    height: 32px;
    padding: 8px;
    background-color: white;
    border-width: 0;
    border-radius: 8px;
}

.order_btn:hover {
    cursor: pointer;
    color: var(--primary-bg-color);
}

.order_btn_clicked {
    color:var(--primary-bg-color);
}

/* ------->BASKET------------------------------*/

.basket_wrapper {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    align-self: flex-start;
    width: 400px;
    height: 60dvh;
    padding: 48px 32px 48px 32px;
    background-color: var(--third-bg-color);
    border-radius: 8px;
    border-width: 0;
    box-sizing: border-box;
    overscroll-behavior: contain;
    position: sticky;
    top: 20px;  
}

.no_basket {
    display: none;
}

#my_basket {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    width: 100%;  
}

.all_basket_meals {
    flex: 1;
    overflow-y: auto;
}

.font_basket {
    font-size: 32px;
    font-family: 'Palanquin', sans-serif;
    font-weight: 700;
}

.headline_basket {
    color: var(--secondary-bg-color);
    text-align: center;
    margin-bottom: 8px;
}

.empty_basket_text {
    font-family: 'Palanquin', sans-serif;
    font-size: 24px;
    font-weight: 500;
    text-align: center;
    color: var(--secondary-bg-color);
}

.basket_img {
    height: 128px;
    width: 128px;
    margin-top: 50px;
}

.full_basket_dish_name {
    color:var(--third-bg-color);
    font-family: 'Palanquin';
    font-style: normal;
    font-weight: 700;
    font-size: 22px;
}

.basket_content {
    padding: 12px;
    display: flex;
    flex-direction: column;
    align-items: center;
    flex:1;
    font-family: 'Palanquin', sans-serif;
    font-size: 22px;
    font-weight: 700;
}

.basket_content_empty {
    display: none;
}

.menu_width_basketdish{
   min-width: 230px;

}
.first_line_menu_card_basket {
    display: flex;
    gap: 12px;
    line-height: 1.5;
}

.second_line_menu_card_basket{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.delete_plus_quantity {
    display:flex;
    justify-content: center;
    align-items: center;
    column-gap: 8px;
}

.delete_btn_basket {
    display: flex;
    align-items: center;
    font-size: 24px;
    border: none;
    cursor: pointer;
    padding-top: 5px;
    background-color: transparent;
}

.upper_delete_btn_hidden {
    display: none;
}

.dish_name_plus_amount {
    display: flex;
    gap: 8px;
}

.basket_amount {
    display: flex;
    align-items: center;
}

.increase_btn {
    border-width: 0;
    border-radius: 8px;
    font-size: 24px;
    padding-top: 6px;
    background-color: transparent;
}

.costs_and_order_btn {
    max-width: 800px;
    width: 100%;
}

.calculate_costs {
    display:flex;
    flex-direction: column;
    color: white;
    font-size: 20px;
    font-weight: 600;
    margin-bottom: 20px;
}

.subtotal, .delivery, .total_amount {
    display:flex;
    justify-content: space-between;
}

.white_line {
    border-bottom: 2px solid white;
    width: 100%;
}

#buy_now_btn {
    display: flex;
    justify-content: center;
    width: 100%;
    height: auto;
    color: white;
    padding: 8px;
    background-color: var(--primary-bg-color);
    border-width: 0;
    border-radius: 24px
}

/* ------->DIALOG------------------------------*/

.order_confirmed_dialog {
    flex-direction: column;
    justify-content: space-between;
    min-height: 240px;
    min-width: 400px;
    padding: 12px;
    margin: 0 auto;
    box-sizing: border-box;
    background-color: var(--third-bg-color);
    border-width: 0;
    border-radius: 8px;
    transition: all 125ms ease-in-out;
    transform:translateX(50px);
}
.order_confirmed_dialog[open]{
    display:flex;
}

.order_confirmed_dialog.opened {
    transform: translateX(0px);
    transition: all 125ms ease-in-out;
}

dialog::backdrop {
    opacity: 1;
    transition: 125ms all ease-in-out;
}

dialog.opened::backdrop {
    opacity: 0.5;
    filter: blur(8px);
    transition: 125ms all ease-in-out;
    background-color: black;
}

dialog.closed {
    display: none;
}

.close_dialog_btn {
    display:flex;
    justify-content: flex-end;
    border-width: 0;
    border-radius: 8px;
    font-size: 24px;
    color:white;
    background-color: transparent;
}
.order_confirmed_img_and_text_container{
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 48px;
}

.order_confirmed_img_container {
    height: 100px;
    width: 160px;
}

.order_confirmed_img {
    object-fit: cover;
    width: 100%;
    height: 100%;
}


.order_confirmed_text {
    margin: 0;
    line-height: 0.5;
    text-align: center;
    color: white;
}



/* ------->FOOTER------------------------------*/

footer {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    position: relative;
    bottom:0;
    right: 0;
    height: 64px;
    width: 100%;
    padding: 24px 42px 24px 80px;
    background-color: var(--primary-bg-color);
    gap: 32px;  
    margin-top: 40px;
}
.footer_elements {
    display: flex;
    gap: 48px;
    justify-content: center;
    max-width: 1920px;
    width: 100%;
    margin: 0 auto;
}

.footer_link {
    color: white;
    font-weight: 400;
    font-size: 18px;
    font-style: normal;
    display:flex;
}
.copyright_elements {
    height: auto;
    
}
.copyright_img {
    object-fit: contain;
}
